/* font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Space Mono', monospace; */
body{
    margin: 10px;
}
h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

#descripcion{
    display: flex;
    
}
#descripcion p{
    margin: 0;
    margin-left:10px ;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
}


.postre img{
    width: 392px;
    height: 214px;
    border-radius: 12px;
    margin-top: 1rem;

}

#iconos{
    margin-top: 1rem;
}

#spoon img{
    width: 13.54px;
    height: 12.57px;
    margin-right: 7px;
    margin-top: 5px;
}

#p1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #BDBDBD;
    margin: 0;
    
}

#p2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #F2994A;
    margin: 0;
}

#cuchara{
    display: flex;
}

#relojes{
    display: flex;
    margin-top: 15px;
    margin-right: 3rem;
    justify-content: space-between;
    
}

.reloj{
    display: flex;
    
}
.textos{
    margin-left: 2px ;
}

.p1{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #BDBDBD;

}
.p2{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #333333;

}

/* section de ingredientes*/

#tituloingredientes h3{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

}
#tituloingredientes h4{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

}
.checkgraham{
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}
.checkgraham p{
    margin-top: 0;
}
.checkgraham p span{
    font-weight: 700;
}
.checkgraham input{
    margin-right: 8px;
    margin-left: 0;
    margin-top: 6px;
}

/*Insturcciones estilos*/
#conten-instrucciones h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.instrucciones{
    display: flex;
}
.num-instrucciones button{
    background-color: #F2994A;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    border: none;
    font-family: 'Playfair Display;';
    font-size: 24px;

    color: #FFFFFF;
}
.instrucciones p{
    margin-top: 0;
    margin-left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

#source p{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #BDBDBD;
    margin-bottom: 0;

}
#source a{
    font-family: 'Montserrat';
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #BDBDBD;

}
footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
footer p a{
    color: #828282;
}

/* Modo Escritorio */

@media (min-width: 769px) { 

    body{
        margin: 200px;
        margin-top: 30px;
    }
    h1{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        color: #000000;
        margin-bottom: 12px;
    }

    #descripcion{
        margin-top: 12px;
        width: 592px;
        height: 51px;
    }

    .postre img{
        width: 969px;
        height: 470px;
        border-radius: 12px;
    }



}

